In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("../data/zensus.csv",encoding="ISO-8859-1",sep=",")

/Users/luca/mambaforge/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (106,113,125,126,129,131,134,142,143,156,157,158,165,166,169,176,177,181,182,185,186,190,192,202,207,221) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [16]:
df.columns

Index(['AGS_12', 'RS_Land', 'RS_RB_NUTS2', 'RS_Kreis', 'RS_VB', 'RS_Gem',
       'Name', 'Reg_Hier', 'AEWZ', 'DEM_1.1',
       ...
       'BIL_4.9', 'BIL_4.10', 'BIL_5.1', 'BIL_5.2', 'BIL_5.3', 'BIL_5.4',
       'BIL_5.5', 'BIL_5.6', 'BIL_5.7', 'BIL_5.8'],
      dtype='object', length=223)

In [19]:
# This data is gathered from another zensus dataset
ages = np.array([827646,857047,941714,963052,976766,987602,966263,953923,958134,965314,994057,1000413,991222,966128,936186,939630,917961,895568,901342,912022,954241,1078761,1141426,1204873,1289938,1345824,1367864,1395013,1416397,1429873,1396186,1360874,1326581,1293311,1233802,1197698,1153789,1132179,1106508,1068959,1057627,1053491,1026659,1021985,952128,865528,836028,605909,799506,902787,861102,1004000,990420,1097279,997174,914869,861483,811493,772418,604799,544174,537399,536353,511847,475503,424552,379828,346065,302287,254206,228373,204145,169319,133114,54758,39671,33738,28246,31393,22158,14750,9497,13445])

In [21]:
total_data_size = ages.sum()
p_ages = ages / total_data_size

In [31]:
np.random.choice(np.arange(18, 101), p=p_ages)

(49, 67077593)

In [32]:
college_counts = np.array([3985640, 5471080, 908970])
college_part = college_counts.sum() / 68909110;

In [36]:
np.random.choice([False, True], p=[1 - college_part, college_part])

True